/* Formatting */

.header {
    text-align: center;
    font-size: 75px;
    outline-width: 50px;
    outline-offset: 50px;
    padding-top: 75px;
    line-height: 0px;
    font-family:'Palatino-SC ☞';
}

.selection {
    text-align: center;
    outline-width: 25px;
    font-size: 40px;
    font-family: 'Palatino-SC ☞';
}

.descriptor {
    text-align: center;
    outline-width: 25px;
    padding-top: 150px;
    padding-bottom: 50px;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Palatino-SC ☞';
}

.text {
    text-align: center;
    outline-width: 25px;
    font-size: 25px;
    line-height: 35px;
    font-family: 'Palatino-SC ☞';
}

.background {
    background-color: rgba(1, 1, 1, 0.75);
    background-size: inherit;
    padding-right: 250px;
    padding-left: 250px;
    padding-top: 15px;
    padding-bottom: 15px
}

button {
    background-color: transparent;
    color: white;
    font-size: 40px;
    border: none;
    font-family: 'Palatino-SC ☞';
}

/* Dropdown */

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 40px;
    border: groove;
    border-color: transparent;
    font-family: 'Palatino-SC ☞';
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    font-size: 20px;
    line-height: 10px;
    border: groove;
    min-width: 175px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-family: 'Palatino-SC ☞';
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        color: white;
        display: block;
        font-family: 'Palatino-SC ☞';
    }

.dropdown-content a:hover { background-color: #ddd; }
.dropdown:hover .dropdown-content { display: block; }
.dropdown:hover .dropbtn { border-color: white; }
